@charset "UTF-8";
.slider-nav {
    width: 234px;
    height: 420px;
    border: none;
    background-color: rgba(0,0,0,0.6);
}
.slider-nav .slider-li .name {
    color: #fff;
}
#page-all-nav .slider-nav {
    visibility: visible;
}

/* 菜单区域和广告位 */
.idx-menu-adv {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
.idx-menu-adv .menu {
    width: 212px;
    height: 145px;
    background-color: #5f5750;
    float: left;
    padding: 10px;
}
.idx-menu-adv .menu li {
    width: 70px;
    height: 70px;
    padding-top: 10px;
    float: left;
    text-align: center;
    color: #cfccca;
    position: relative;
}
.idx-menu-adv .menu li i {
    font-size: 20px;
}
.idx-menu-adv .menu li span {
    display: block;
    margin-top: 10px;
}
.idx-menu-adv .menu li.bb::before {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: #665e57;
    position: absolute;
    left: 5px;
    bottom: 5px;
}
.idx-menu-adv .menu li.br::after {
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background-color: #665e57;
    position: absolute;
    right: 0;
    top: 5px;
}
.idx-menu-adv .menu li:hover a {
    color: #fff;
}
.idx-menu-adv .pic {
    display: block;
    width: 304px;
    height: 165px;
    margin-left: 20px;
    float: left;
}
.idx-menu-adv .pic img {
    display: block;
    width: 304px;
    height: 165px;
}

/* 广告图 */

.idx-adv img {
    width: 100%;
    display: block;
}

/* 大内容区 */
/* 内容区不用visibility: hidden;而只用盒子高度撑开是因为如果用了hidden，hover的最右侧阴影就会被隐藏 */
.idx-container {
    margin-top: 40px;
    padding-top: 33px;
    background-color: #f5f5f5;
    /* overflow: hidden; */
}
/* .idx-container .idx-adv {
    margin-top: 40px;
} */
.idx-container .idx-phone {
 margin-bottom: 40px;
}
.idx-title {
    margin-top: 20px;
}
/* 一个容器的第一个子元素的margin-top会转移给父元素的margin-top */
/* 解决办法： */
/* 1.父元素加overflow：hidden */
/* 2.第一个子元素的margint-top变成父元素的padding-top */
/* 3.父元素加border */
.idx-title .tit {
    font-size: 22px;
    line-height: 60px;
    color: #666;
    cursor:pointer;
}
.idx-title .see-all {
    float: right;
    font-size: 16px;
    color: #666;
    position: relative;
    top: 25px;
    cursor:pointer;
}
.idx-title .see-all:hover {
    color: #ff6700;
}
.idx-title .list {
    width: 400px;
    float: right;
    text-align: right;
    position: relative;
    top: 20px;
}
.idx-title .list li {
    display: inline-block;
    font-size: 16px;
    margin-left: 26px;
}
.idx-title .list li a {
    color: #666;
    padding-bottom: 3px;
}
.idx-title .list li .active,
.idx-title .list li:hover a {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.idx-container .col-5 {
    width: 229px;
    margin-left: 15px;
    margin-bottom: 15px;
    float: left;
}
.idx-container .idx-box {
    height: 615px;
    clear: both;
}
.idx-box .adv-box {
    float: left;
}
/* 左边 */
.idx-box .adv-box.col-5 {
    margin-left: 0;
}
.idx-box .adv-box .single {
    display: block;
}
.idx-box .adv-box .single img {
    width: 229px;
    height: 615px;
    display: block;
}
.idx-box .adv-box .dobule {
    display: block;
    height: 300px;
    margin-bottom: 15px;
}
.idx-box .adv-box .dobule img {
    height: 300px;
    width: 100%;
}
/* 右边 */
.idx-box .good-box {
    float: right;
    width: 976px;
}
.idx-box .good-item {
    background-color: #fff;
    height: 260px;
    padding: 20px 0;
    position: relative;

}
.idx-box .good-item .pic img {
    width: 160px;
    height: 160px;
    display: block;
    margin: 0 auto;
    /* position: absolute;
    left: 50%;
    margin-left: -80px; */
}
.idx-box .good-item .tags {
    width: 64px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -32px;
    top: 0;
    color: #fff;
    text-align: center;
    line-height: 20px;
}
.idx-box .good-item .tags.new {
    background-color: #83c44c;
}
.idx-box .good-item .tags.discount {
    background-color: #e53935;
}
.idx-box .good-item .name,
.idx-box .good-item .desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
}
.idx-box .good-item .name {
    width: 200px;
    margin: 0 auto 10px;
}
.idx-box .good-item .desc {
    width: 210px;
    color: #b0b0b0;
    margin: 0 auto;
}
.idx-box .good-item .price {
    margin-top: 18px;
    text-align: center;
}
.idx-box .good-item .price span {
    color: #ff6700;
}
.idx-box .good-item .price i {
    font-style: normal;
    text-decoration: line-through;
    margin-left: 5px;
    color: #b0b0b0;
}

/* 更多 */
.idx-box .last-more {
    background-color: #f5f5f5;
    background-color: transparent;
    margin-top: -18px;
}
.idx-box .last-more .good-top,
.idx-box .last-more .good-more {
    background-color: #fff;
    height: 142px;
    margin-bottom: 15px;
}
.idx-box .last-more .sm-img {
    margin-bottom: 15px;
}
.idx-box .last-more .sm-img {
    height: 80px;
    width: 80px;
    float: right;
    margin-right: 12px;
    margin-top: 25px;
}
.idx-box .last-more .sm-img img {
    height: 80px;
    width: 80px;
    display: block;
}
.idx-box .last-more .txt {
    margin-left: 30px;
    /* overflow:hidden  解决外边距塌陷 */
    overflow: hidden;
}
.idx-box .last-more .txt h3 {
    font-weight: normal;
}
.idx-box .last-more .good-top .txt {
    float: left;
    margin-top: 40px;
}
.idx-box .last-more .good-top h3 {
    width: 94px;
}
.idx-box .last-more .good-top h3 a {
    color: #000;
    font-size: 14px;
}
.idx-box .last-more .good-top p {
    line-height: 30px;
    color: #ff6700;
    font-size: 14px;
}
.idx-box .last-more .good-more {
    position: relative;
}
.idx-box .last-more .good-more h3 {
    font-size: 18px;
    margin-top: 40px;
}
.idx-box .last-more .good-more h3 a {
    color: #333;
}
.idx-box .last-more .good-more p a {
    line-height: 30px;
    color: #333;
}
.idx-box .last-more .good-more i {
    font-size: 70px;
    color: #ff6700;
    position: absolute;
    right: 30px;
    top: 30px;
}

.idx-box .good-item:hover,
.idx-box .adv-box .single:hover,
.idx-box .adv-box .dobule:hover,
.idx-box .last-more .good-top:hover,
.idx-box .last-more .good-more:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.idx-box .last-more:hover {
    box-shadow: none;
}

/* 视频 */
.idx-box.video {
    height: 310px;
}
.video .item {
    width: 290px;
    height: 285px;
    margin-bottom: 15px;
    float: left;
    margin-left: 15px;
    background-color: #fff;
}
.video .item.last-video {
    margin-left: 0;
}
.video .item .pic,
.video .item .pic img{
    display: block;
    width: 290px;
    height: 180px;
}
.video .item .pic {
    position: relative;
}
.video .item .pic .play {
    display: block;
    width: 30px;
    height: 18px;
    position: absolute;
    left: 20px;
    bottom: 10px;
    border: 2px solid #fff;
    border-radius: 12px;
    text-align: center;
}
/* 利用边框画出三角型 */
.video .item .pic i {
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 6px solid transparent;
    border-left: 10px solid #fff;
    border-right: 5px solid transparent;
    border-bottom: 6px solid transparent;
    position: relative;
    top: 3px;
    left: 3px;
}
.video .item .pic:hover .play {
    background-color: #ff6700;
    background-color: #ff6700;
}
.video .item h3,
.video .item p {
    margin: 0 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    text-align: center;
}
.video .item h3 {
    font-size: 14px;
    margin-top: 30px;
}
.video .item h3 a {
    color: #000;
}
.video .item p {
    color: #b0b0b0;
    margin-top: 10px;
}
.video .item:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.video .item h3 a:hover  {
    color: #ff6700;
}
/* 视频弹框效果 */
/* 用图片平铺兼容性最好 */
.idx-video-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.3);
    display: none;
}
.idx-video-box {
    width: 880px;
    height: 596px;
    position: fixed;
    left: 50%;
    /* top: 50%; */
    top: -1000px;
    display: none;
    margin-top: -298px;
    margin-left: -440px;
    background-color: #000;
    z-index: 110;
    box-shadow: 0 18px 30px rgba(0,0,0,0.18);
}
.idx-video-box .tit {
    height: 60px;
    background-color: #f5f5f5;
    padding: 0 20px;
}
.idx-video-box .tit span {
    font-size: 18px;
    line-height: 60px;
    color: #424242;
}
.idx-video-box .tit .close {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-image: url(../img/video/close.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    display: block;
    float: right;
    margin-top: 15px;
    cursor: pointer;
}
.idx-video-box .tit .close:hover {
    background-color: #e53935;
    background-image: url(../img/video/close2.png);
}
.idx-video-box .video-box {
    position: relative;
}
.idx-video-box .video-box .pic,
.idx-video-box .video-box video,
.idx-video-box .video-box img {
    height: 536px;
    width: 880px;
}
.idx-video-box .video-box .pic {
    position: absolute;
    left: 0;
    top: 0;
}
.idx-video-box .play-btn {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -45px;
    margin-left: -45px;
    z-index: 111;
    background-image: url(../img/video/icon-video3.png);
    cursor: pointer;
}
.idx-video-box .controller {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 110;
}
.idx-video-box .bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #5c5c5c;
    background-color: rgba(92,92,92,0.6);
}
.idx-video-box .bar a {
    width: 50%;
    height: 4px;
    background-color: #ff6700;
    display: block;
    position: relative;
}
.idx-video-box .bar span {
    background-color: #fff;
    border-radius: 6px;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
    top: -4px;
}
.idx-video-box .cont-box {
    padding: 0 20px;
}
.idx-video-box .cont-box .play-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/video/icon-video1.png);
    margin-top: 14px;
    cursor: pointer;
}
.idx-video-box .cont-box .play-icon:hover {
    background-image: url(../img/video/icon-video2.png);
}
.idx-video-box .cont-box .normal {
    margin-left: 10px;
    float: left;
}
.idx-video-box .cont-box .play-icon.play {
    background-position: 0 -20px;
}
.idx-video-box .cont-box .play-icon.pause {
    background-position: 0 0;
}
.idx-video-box .cont-box .play-times {
    float: left;
    margin-left: 30px;
    line-height: 46px;
    color: #fff;
}
.idx-video-box .cont-box .icon-full {
    float: right;
    background-position: left -100px;
}
.idx-video-box .cont-box .vol {
    float: right;
    width: 130px;
    height: 46px;
    overflow: hidden;
    margin-right: 30px;
}
.idx-video-box .cont-box .icon-vol {
    float: left;
    background-position: left -40px;
    margin-right: 10px;
}
.idx-video-box .cont-box .vol-bar {
    float:left;
    width: 100px;
    height: 4px;
    background-color: #c2c2c2;
    border-radius: 2px;
    margin-top: 23px;
}
.idx-video-box .cont-box .vol-bar a {
    width: 50%;
    background-color: #ff6700;
    border-radius: 2px;
    height: 4px;
    display: block;
    position: relative;
}
.idx-video-box .cont-box .vol-bar span {
    background-color: #fff;
    border-radius: 6px;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: -3px;
    cursor: pointer;
}



