@charset "UTF-8";
body {
    min-height: 6000px;
}
.slider-nav {
    width: 234px;
    height: 420px;
    border: none;
    background-color: rgba(0,0,0,0.6);
}
.slider-nav .slider-li .name {
    color: #fff;
}
#page-all-nav .slider-nav {
    visibility: visible;
}

/* 菜单区域和广告位 */
.idx-menu-adv {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
.idx-menu-adv .menu {
    width: 212px;
    height: 145px;
    background-color: #5f5750;
    float: left;
    padding: 10px;
}
.idx-menu-adv .menu li {
    width: 70px;
    height: 70px;
    padding-top: 10px;
    float: left;
    text-align: center;
    color: #cfccca;
    position: relative;
}
.idx-menu-adv .menu li i {
    font-size: 20px;
}
.idx-menu-adv .menu li span {
    display: block;
    margin-top: 10px;
}
.idx-menu-adv .menu li.bb::before {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: #665e57;
    position: absolute;
    left: 5px;
    bottom: 5px;
}
.idx-menu-adv .menu li.br::after {
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background-color: #665e57;
    position: absolute;
    right: 0;
    top: 5px;
}
.idx-menu-adv .menu li:hover a {
    color: #fff;
}
.idx-menu-adv .pic {
    display: block;
    width: 304px;
    height: 165px;
    margin-left: 20px;
    float: left;
}
.idx-menu-adv .pic img {
    display: block;
    width: 304px;
    height: 165px;
}

/* 广告图 */

.idx-adv img {
    width: 100%;
    display: block;
}

/* 大内容区 */
/* 内容区不用visibility: hidden;而只用盒子高度撑开是因为如果用了hidden，hover的最右侧阴影就会被隐藏 */
.idx-container {
    margin-top: 40px;
    padding-top: 33px;
    background-color: #f5f5f5;
    /* overflow: hidden; */
}
.idx-title {
    margin-top: 20px;
}
/* 一个容器的第一个子元素的margin-top会转移给父元素的margin-top */
/* 解决办法： */
/* 1.父元素加overflow：hidden */
/* 2.第一个子元素的margint-top变成父元素的padding-top */
/* 3.父元素加border */
.idx-title .tit {
    font-size: 22px;
    line-height: 60px;
    color: #666;
    cursor:pointer;
}
.idx-title .see-all {
    float: right;
    font-size: 16px;
    color: #666;
    position: relative;
    top: 25px;
    cursor:pointer;
}
.idx-title .see-all:hover {
    color: #ff6700;
}
.idx-container .col-5 {
    width: 229px;
    margin-left: 15px;
    margin-bottom: 15px;
    float: left;
}
.idx-container .col-5:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.idx-container .idx-box {
    height: 615px;
    clear: both;
}
.idx-box .adv-box {
    float: left;
}
/* 左边 */
.idx-box .adv-box.col-5 {
    margin-left: 0;
}
.idx-box .adv-box .single img {
    width: 229px;
    display: block;
    height: 615px;
}
/* 右边 */
.idx-box .good-box {
    float: right;
    width: 976px;
}
.idx-box .good-item {
    background-color: #fff;
    height: 260px;
    padding: 20px 0;
    position: relative;

}
.idx-box .good-item .pic img {
    width: 160px;
    height: 160px;
    display: block;
    margin: 0 auto;
    /* position: absolute;
    left: 50%;
    margin-left: -80px; */
}
.idx-box .good-item .tags {
    width: 64px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -32px;
    top: 0;
    color: #fff;
    text-align: center;
    line-height: 20px;
}
.idx-box .good-item .tags.new {
    background-color: #83c44c;
}
.idx-box .good-item .tags.discount {
    background-color: #e53935;
}
.idx-box .good-item .name,
.idx-box .good-item .desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
}
.idx-box .good-item .name {
    width: 200px;
    margin: 0 auto 10px;
}
.idx-box .good-item .desc {
    width: 210px;
    color: #b0b0b0;
    margin: 0 auto;
}
.idx-box .good-item .price {
    margin-top: 18px;
    text-align: center;
}
.idx-box .good-item .price span {
    color: #ff6700;
}
.idx-box .good-item .price i {
    font-style: normal;
    text-decoration: line-through;
    margin-left: 5px;
    color: #b0b0b0;
}