@charset "UTF-8";
.slider-nav {
    width: 234px;
    height: 420px;
    border: none;
    background-color: rgba(0,0,0,0.6);
}
.slider-nav .slider-li .name {
    color: #fff;
}
#page-all-nav .slider-nav {
    visibility: visible;
}