@charset "UTF-8";
.slider-nav {
    width: 234px;
    height: 420px;
    border: none;
    background-color: rgba(0,0,0,0.6);
}
.slider-nav .slider-li .name {
    color: #fff;
}
#page-all-nav .slider-nav {
    visibility: visible;
}

/* 菜单区域和广告位 */
.idx-menu-adv {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
.idx-menu-adv .menu {
    width: 212px;
    height: 145px;
    background-color: #5f5750;
    float: left;
    padding: 10px;
}
.idx-menu-adv .menu li {
    width: 70px;
    height: 70px;
    padding-top: 10px;
    float: left;
    text-align: center;
    color: #cfccca;
    position: relative;
}
.idx-menu-adv .menu li i {
    font-size: 20px;
}
.idx-menu-adv .menu li span {
    display: block;
    margin-top: 10px;
}
.idx-menu-adv .menu li.bb::before {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: #665e57;
    position: absolute;
    left: 5px;
    bottom: 5px;
}
.idx-menu-adv .menu li.br::after {
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background-color: #665e57;
    position: absolute;
    right: 0;
    top: 5px;
}
.idx-menu-adv .menu li:hover a {
    color: #fff;
}
.idx-menu-adv .pic {
    display: block;
    width: 304px;
    height: 165px;
    margin-left: 20px;
    float: left;
}
.idx-menu-adv .pic img {
    display: block;
    width: 304px;
    height: 165px;
}