@font-face {
  font-family: "iconfont"; /* Project id 2805204 */
  src: url('iconfont.woff2?t=1631349785453') format('woff2'),
       url('iconfont.woff?t=1631349785453') format('woff'),
       url('iconfont.ttf?t=1631349785453') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 10px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxia:before {
  content: "\e652";
}

