@font-face {
  font-family: "iconfont"; /* Project id 2825092 */
  src: url('iconfont.woff2?t=1632153148242') format('woff2'),
       url('iconfont.woff?t=1632153148242') format('woff'),
       url('iconfont.ttf?t=1632153148242') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou3:before {
  content: "\e660";
}

