@font-face {
  font-family: "iconfont"; /* Project id 2805204 */
  src: url('iconfont.woff2?t=1631689956600') format('woff2'),
       url('iconfont.woff?t=1631689956600') format('woff'),
       url('iconfont.ttf?t=1631689956600') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-F:before {
  content: "\e600";
}

.icon-huishuai:before {
  content: "\e62b";
}

.icon-huafei:before {
  content: "\e614";
}

.icon-shizhong:before {
  content: "\e61a";
}

.icon-sim:before {
  content: "\e946";
}

.icon-qiye:before {
  content: "\ec20";
}

