@font-face {
  font-family: "iconfont"; /* Project id 2805204 */
  src: url('iconfont.woff2?t=1632309878715') format('woff2'),
       url('iconfont.woff?t=1632309878715') format('woff'),
       url('iconfont.ttf?t=1632309878715') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou3:before {
  content: "\e605";
}

.icon-liwu:before {
  content: "\e646";
}

.icon-dingwei:before {
  content: "\e675";
}

.icon-buoumaotubiao46:before {
  content: "\e629";
}

.icon-iconfont15tianwuliyoutuihuo1:before {
  content: "\e60a";
}

.icon-weixin:before {
  content: "\e660";
}

.icon-weibo:before {
  content: "\e65a";
}

.icon-gerenzhongxin:before {
  content: "\e651";
}

.icon-rengongrenwu:before {
  content: "\e6ee";
}

.icon-duanxin:before {
  content: "\e603";
}

.icon-ziyuan:before {
  content: "\e610";
}

.icon-fanhuidingbu:before {
  content: "\e613";
}

.icon-gouwuche-01:before {
  content: "\e607";
}

.icon-7tiantuihuanhuo:before {
  content: "\e61f";
}

